/* Global */
html,
body {
    margin: 0px;
    background-color: beige;
}

main,
footer {
    position: relative;
    top: 81px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkgray;
}

ul {
    list-style-type: square;
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: beige;
}

nav h1 {
    padding-left: 1%;
}

nav ul {
    display: flex;
    margin-left: auto;
    align-items: center;
    flex: auto;
    justify-content: right;
    padding-right: 1%;
}

nav li {
    display: inline-block;
    padding: 0 2%;
}

/* About */
main {
    padding: 0 1%;
}

#about {
    display: flex;
    align-items: center;
}

.major {
    flex: 7 1 0;
    background-color: darkgray;
    padding: 0 1%;
}

.minor {
    flex: 3 1 0;
    padding: 0 1%;
    background-color: lightgray;
    align-self: stretch;
}

/* Projects */
#projects {
    background-color: gray;
    padding: 1% 1%;
}

#projects h2 {
    text-align: center;
}

/* Footer */
footer {
    display: flex;
    padding: 0 1%;
}

/* Responsive width = 490-491px */