/* Global */
html,
body {
    margin-top: 0px;
}

header,
main,
footer {
    border: 1px solid black;
}

main,
footer {
    position: relative;
    top: 81px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 99%;
    z-index: 100;
    background-color: white;
}

header li {
    display: inline-block;
}

/* Main */
#about {
    display: flex;
    align-items: center;
}

.major {
    flex: 3 1 0;
}

.minor {
    flex: 2 1 0;
}

img {
    width: 100%;
}

/* Footer */
footer {
    display: flex;
}